{% extends "layout/layout-back.twig" %}
{% block title %}Objednávka služeb{% endblock %}
{% block body %}
	<div class="container">
		<div class="section py-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ linkHomepage }}">Můj účet</a></li>
					<li class="breadcrumb-item active" aria-current="page">Objednávka služeb</li>
				</ol>
			</nav>
			<div class="mb-4">
				{% include "components/sectionTitle.twig"  with { title: "Roční členství v klubu ActiJobsu"} %}
				<div class="custom-radio__wrapper  bg-white p-3 d-flex flex-column flex-lg-row justify-content-between border-b">
					<div>
						<div class="custom-radio mr-3">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
							       checked>
							<label class="form-check-label font-weight-bold" for="exampleRadios1">Aktivní členství VIP <span
												class="ml-2 text-danger">(do 31.10.2019)</span></label>
						</div>
						<ul>
							{% for i in 0..7 %}
								<li>
									<faker-lorem-sentence/>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="d-flex align-items-center justify-content-end">
						<strong class="display-6 text-danger text-right">Končí platnost</strong>
					</div>
				</div>
				<div class="custom-radio__wrapper bg-white p-3 d-flex flex-column flex-lg-row justify-content-between border-b">
					<div>
						<div class="custom-radio mr-3">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
							<label class="form-check-label font-weight-bold" for="exampleRadios2">Prodloužit členství VIP <span
												class="ml-2 text-info">(do 31.10.2019)</span></label>
						</div>

						<ul>
							{% for i in 0..7 %}
								<li>
									<faker-lorem-sentence/>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="custom-radio__indicator d-flex align-items-center justify-content-end">
						<strong class="display-6 no-wrap">7999 Kč</strong>
					</div>
				</div>
				<div class="custom-radio__wrapper bg-white p-3 d-flex flex-column flex-lg-row justify-content-between mb-2">
					<div>
						<div class="custom-radio mr-3">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option1">
							<label class="form-check-label font-weight-bold" for="exampleRadios3">Aktivovat Classic <span
												class="ml-2 text-info">(do 31.10.2019)</span></label>
						</div>

						<ul>
							{% for i in 0..3 %}
								<li>
									<faker-lorem-sentence/>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="custom-radio__indicator d-flex align-items-center justify-content-end">
						<strong class="display-6 no-wrap">999 Kč</strong>
					</div>
				</div>
				<div class="d-sm-flex justify-content-between">
					<small class="text-muted d-block ">
						<faker-lorem-sentence/>
					</small>
					<a href="{{ linkRegistrationCompany7 }}">Ceník inzerce</a>
				</div>
			</div>


			<div class="mb-4">
				{% include "components/sectionTitle.twig"  with { title: "ActiBony"} %}
				<div class="bg-white p-3 border-b text-center text-info">
					<faker-lorem-sentence/>
				</div>
				{% for i in 0..5 %}
					<div class="custom-radio__wrapper bg-white p-3 pt-3 d-md-flex justify-content-between{% if not loop.last %} border-b{% endif %}">
						<div class="custom-radio mr-3">
							<input class="form-check-input" type="radio" name="optradio-ab" id="optradio-ab{{ loop.index }}"
							       value="option1" {% if  loop.first %}checked{% endif %}>
							<label class="form-check-label" for="optradio-ab{{ loop.index }}">
								{% if loop.first %}
									Žádné Actibony
								{% else %}
									{{ loop.index }}000 AB
								{% endif %}


								{% if loop.last %}
									<div class="text-info">-45% sleva</div>
								{% endif %}
							</label>
						</div>

						<div class="custom-radio__indicator text-right">
							{% if not loop.first %}
								<faker-commerce-price/> Kč
							{% elseif loop.last %}
								<faker-commerce-price/> Kč
								<div class="text-muted text-s">
									<del>
										<faker-commerce-price/>
										Kč
									</del>
								</div>
							{% endif %}
						</div>

					</div>
				{% endfor %}
			</div>

			<div class="mb-4">
				{% include "components/sectionTitle.twig"  with { title: "Souhrn"} %}
				<div class="bg-white p-3 border-b d-md-flex justify-content-between">
					<strong>Členství Classics</strong>
					<div class="text-right">
						<faker-commerce-price/>
						Kč
					</div>
				</div>
				<div class="bg-white p-3 border-b d-md-flex justify-content-between">
					<strong>50 000 ActiBonů</strong>
					<div class="text-right">
						<faker-commerce-price/>
						Kč
					</div>
				</div>
				<div class="bg-white p-3 border-b d-md-flex justify-content-between">
					<div>Cena bez DPH</div>
					<div class="text-right">
						<faker-commerce-price/>
						Kč
					</div>
				</div>
				<div class="bg-white p-3 border-b d-md-flex justify-content-between">
					<div>DPH 21%</div>
					<div class="text-right">
						<faker-commerce-price/>
						Kč
					</div>
				</div>
				<div class="bg-white p-3 d-md-flex justify-content-between font-weight-bold text-success">
					<strong>Cena celkem</strong>
					<div class="text-right">
						<faker-commerce-price/>
						Kč
					</div>
				</div>
			</div>

			{% set paymentMethods = ["Platební kartou", "Komerční banka (online převod)",  "ČSOB (online převod)",  "FIO (online převod)",  "Česká spořitelna (online převod)"] %}
			<div class="mb-4">
				{% include "components/sectionTitle.twig"  with { title: "Platební metody"} %}
				{% for method in paymentMethods %}
					<div class="custom-radio__wrapper bg-white p-3 pt-3 d-md-flex justify-content-between{% if not loop.last %} border-b{% endif %}">
						<div class="custom-radio mr-3">
							<input class="form-check-input" type="radio" name="optradioPay" id="optradioPay{{ loop.index }}"
							       value="option1">
							<label class="form-check-label" for="optradioPay{{ loop.index }}">{{ method }}</label>
						</div>
						<div class="custom-radio__indicator text-right">ihned</div>
					</div>
				{% endfor %}
			</div>
			<div class="text-center mb-5">
				<a href="{{ linkRegistrationCompany8 }}" class="btn btn-success btn-bottom">Objednat a zaplatit</a>
			</div>

		</div>
	</div>


{% endblock %}
