{% extends "layout/layout-back.twig" %}
{% block title %}Faktury{% endblock %}
{% block body %}

	<div class="container">
		<div class="section pt-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{{ linkBackMyAccount }}">Můj účet</a></li>
					<li class="breadcrumb-item active" aria-current="page">Faktury</li>
				</ol>
			</nav>
			<div class="mb-3 mb-sm-4">
				{% for i in 0..6 %}
					<a href="#" class="link-box p-3 d-md-flex justify-content-between{% if not loop.last %} border-b{% endif %}">
						<span class="d-block mr-3 link-box__title">{{ random(31) }}.{{ random(12) }}.201{{ random(10) }} - {{ random(['Faktura','Dobropis' ]) }} - <faker-random-number/></span>
						<span class="d-block  icon icon-document text-right"></span>
					</a>
				{% endfor %}
			</div>
			{% include "components/pagination.twig" %}
		</div>
	</div>

{% endblock %}
