{% extends "layout/layout-back.twig" %}
{% block title %}Výpis odpovědí{% endblock %}
{% block body %}

    <div class="container">
        <div class="section py-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ linkBackOffers }}">Nabídky</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nová nabídka</li>
                </ol>
            </nav>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Základní údaje *"}  %}
                <div class="bg-white p-3">
                    <div class="form-group">
                        <label for="exampleInputName" class="form-label" >Název pozice *</label>
                        <input type="text" class="form-control" id="exampleInputName"  placeholder="např. Samostatný kuchař, Asistentka Praha..." required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" >Obor *</label>
                        {% include "components/autocompleteInput.twig" with 
                     {type:"tag",
                     id:"autocomplete1",
                     name: "Obor*",
                     inWindow: false, 

                     placeholder: "+ Gastronomie a pohostinství, Administrativa...", 
                     placeholderAdd: "+ Přidat...",  

                     dataPreview: "categories",

                     maxItem: "3",
                     maxItemText: "Můžete přidat maximálně 3 obory",
                     maxItemRender: 50,

                     dataNoResult: "Nenalezen žádný obor",
                     dataUrl: "categories"} %}

                    </div>
                    <div class="form-group">
                        <label  class="form-label" >Profese *</label>
                        {% include "components/autocompleteInput.twig" with 
                     {type:"tag",
                     id:"autocomplete2",
                     name: "Profese*",
                     plain: true, 
                     inWindow: false, 

                     initialHint: "Zadejte požadovanou profesi",

                     placeholder: "+ Kuchař, Asistentka...", 
                     placeholderAdd: "+ Přidat...",  

                     maxItem: "5",
                     maxItemText: "Můžete přidat maximálně 5 profesí",
                     maxItemRender: 50,

                     dataNoResult: "Nenalezena žádná profese",
                     dataUrl: "professions"} %}

                    </div>

                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Místo výkonu práce *"}  %}
                <div class="bg-white">
                    <label class="radio-button border-b">
                        <input class="radio-button__trigger" id="jobs1" type="radio" name="jobs" value="option1" checked>
                        <div class="radio-button__content radio-button__content--margin-bottom">
                            Práce vykonávaná na pravidelném pracovišti
                        </div>
                        <div class="radio-button__content radio-button__content--ignore-padding radio-button__content--show-if-checked">
                            <div class="form-group">
                                <label for="exampleInputName" class="form-label">Stát*</label>
                                <select class="form-control" data-selectric required>
                                    <option value="1">Česká Republika</option>
                                    <option value="2">Slovenská Republika</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="autocomplete3" class="form-label">Adresa/Lokalita *</label>
                                {% include "components/autocompleteInput.twig" with {type:"search","preview":false, id:"autocomplete3", name: "Adresa/Lokalita*", placeholder: "Adresa, Ulice, Obec, Město, Okres, Kraj", dataset: "lorem.json"} %}
                            </div>
                        </div>
                        <div class="radio-button__substitute">
                            <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                            <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                            </svg>
                        </div>
                    </label>
                    <label class="radio-button border-b">
                        <input class="radio-button__trigger" id="jobs2" type="radio" name="jobs" value="option2">
                        <div class="radio-button__content">
                            Práce nevyžaduje návštěvu pracoviště (např. Práce doma)
                        </div>
                        <div class="radio-button__substitute">
                            <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                            <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                            </svg>
                        </div>
                    </label>
                    <label class="radio-button">
                        <input class="radio-button__trigger" id="jobs3" type="radio" name="jobs" value="option3">
                        <div class="radio-button__content radio-button__content--margin-bottom">
                            Práce vykonávaná na pravidelném pracovišti
                        </div>
                        <div class="radio-button__content radio-button__content--ignore-padding radio-button__content--show-if-checked">
                            <div class="form-group">
                                <label for="autocomplete3" class="form-label">Lokalita/y *</label>
                                {% include "components/autocompleteInput.twig" with {type:"tag","preview":true, id:"autocomplete4",name: "Lokalita/y*", placeholder: "+ Okres, Kraj, Země", dataset: "lorem.json"} %}
                            </div>
                        </div>
                        <div class="radio-button__substitute">
                            <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                            <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                            </svg>
                        </div>
                    </label>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Popis pozice *"}  %}
                <div class="bg-white p-3">
                    <div class="form-group">
                        <textarea class="form-control" id="tinymce" cols="30"></textarea>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Pracovní poměr *"}  %}
                {% set work = ["Plný úvazek","Zkrácený úvazek", "Živnostenský list", "Brigáda", "Stáž"] %}
                <div class="bg-white p-3">
                    <div class="row">
                        {% for item in work %}
                            <div class="col-sm-6 col-md-4 mb-2">
                                <div class="form-group mb-2">
                                    <div class="checkbox">
                                        <label class="checkbox__shadow-label "for="work{{ loop.index }}"></label>
                                        <input class="checkbox__trigger" id="work{{ loop.index }}" type="checkbox">
                                        <label class="checkbox__label" for="work{{ loop.index }}">
                                            {{item}}
                                        </label>
                                        <label class="checkbox__substitute" for="work{{ loop.index }}">
                                            <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                            <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Práce je vhodná i pro"}  %}
                {% set qualification = ["Osoby bez praxe", "Absolventy SŠ", "Absolventy VŠ", "Studenty", "Důchodce", "Osoby na mateřské dovolené"] %}
                <div class="bg-white p-3">
                    <div class="row">
                        {% for item in qualification %}
                            <div class="col-sm-6 col-md-4 mb-2">
                                <div class="form-group mb-2">
                                    <div class="checkbox">
                                        <label class="checkbox__shadow-label "for="defaultCheck{{ loop.index }}"></label>
                                        <input class="checkbox__trigger" id="defaultCheck{{ loop.index }}" type="checkbox">
                                        <label class="checkbox__label" for="defaultCheck{{ loop.index }}">
                                            {{item}}
                                        </label>
                                        <label class="checkbox__substitute" for="defaultCheck{{ loop.index }}">
                                            <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                            <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Práci mohou vykonávat i OZP"}  %}
                <div class="bg-white p-3">
                    <div class="form-group">
                        <select class="form-control" data-selectric required>
                            <option value="1">Ne</option>
                            <option value="2">Ano</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Nástup možnný od *"}  %}
                <div class="bg-white p-3">
                    <div class="form-group">
                        <input type="date" class="form-control" required />
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Vzdělání uchazeče *"}  %}
                {% set school = ["Nazáleží", "Základní", "Odborné s výučním listem", "Odborné s maturitou", "Středoškolské s maturitou", "Vyšší odborné studium", "Bakalářské", "Vysokoškolské", "Doktorandské"] %}
                <div class="bg-white p-3">
                    <div class="row">
                        {% for item in school %}
                            <div class="col-sm-6 col-md-4 mb-2">
                                <div class="form-group mb-2">
                                    <div class="checkbox">
                                        <label class="checkbox__shadow-label "for="school{{ loop.index }}"></label>
                                        <input class="checkbox__trigger" id="school{{ loop.index }}" type="checkbox">
                                        <label class="checkbox__label" for="school{{ loop.index }}">
                                            {{item}}
                                        </label>
                                        <label class="checkbox__substitute" for="school{{ loop.index }}">
                                            <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                            <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mb-4">

                {% include "components/sectionTitle.twig"  with { title: "Jazykové znalosti uchazeče *"}  %}
                <div class="bg-white p-3">
                    <label for="exampleInputName" class="form-label">Čeština nutností*</label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" data-selectric data-disable-on-select="2" data-disable-target="languageLevel" required>
                                    <option value="1">Ano</option>
                                    <option value="2">Ne</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <select id="languageLevel" class="form-control" data-selectric data- required>
                                    <option value="1">Začátečník</option>
                                    <option value="2">Mírně pokročilý</option>
                                    <option value="3">Pokročilý</option>
                                    <option value="4" selected>Rodilý mluvčí</option> 
                                </select>
                            </div>
                        </div>
                    </div>


                    <hr class="mx-minus-3">
                    <div class="form-group">
                        <label  class="form-label" >Vyberte cizí jazyk</label>
                        {% include "components/autocompleteInput.twig" with 
                                    {type:"tag",
                                    id:"autocomplete5",
                                    name: "Vyberte cizí jazyky",
                                    inWindow: false, 

                                    placeholder: "+ Angličtina, Němčina...", 
                                    placeholderAdd: "+ Přidat...",  

                                    dataPreview: "languages",

                                    maxItemRender: 50,

                                    dataNoResult: "Nenalezen žádný jazyk",
                                    dataUrl: "languages"} %}
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Řidičské oprávnění uchazeče"}  %}
                {% set licence = ["A", "B", "BE", "C", "CE", "D", "E", "T"] %}
                <div class="bg-white p-3">
                    <div class="row">
                        {% for item in licence %}
                            <div class="col-sm-6 col-md-4 mb-2">
                                <div class="form-group mb-2">
                                    <div class="checkbox">
                                        <label class="checkbox__shadow-label "for="licence{{ loop.index }}"></label>
                                        <input class="checkbox__trigger" id="licence{{ loop.index }}" type="checkbox">
                                        <label class="checkbox__label" for="licence{{ loop.index }}">
                                            {{item}}
                                        </label>
                                        <label class="checkbox__substitute" for="school{{ loop.index }}">
                                            <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                            <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Počítačové znalosti uchazeče"}  %}
                {% set computer = ["Internet", "MS Word", "MS Excel", "Internet", "MS Word", "MS Excel", "Internet", "MS Word", "MS Excel"] %}
                <div class="bg-white p-3">
                    <div class="row">
                        {% for item in computer %}
                            <div class="col-sm-6 col-md-4 mb-2">
                                <div class="form-group mb-2">
                                    <div class="checkbox">
                                        <label class="checkbox__shadow-label "for="computer{{ loop.index }}"></label>
                                        <input class="checkbox__trigger" id="computer{{ loop.index }}" type="checkbox">
                                        <label class="checkbox__label" for="computer{{ loop.index }}">
                                            {{item}}
                                        </label>
                                        <label class="checkbox__substitute" for="computer{{ loop.index }}">
                                            <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                            <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr class="mx-minus-3">
                    <div class="form-group">
                        <label  class="form-label" >Další počitačové znalosti</label>
                        {% include "components/autocompleteInput.twig" with 
                                    {type:"tag",
                                    id:"autocomplete6",
                                    name: "Další počitačové znalosti",
                                    inWindow: false, 

                                    placeholder: "+ PHP, C#, Java, HTML...", 
                                    placeholderAdd: "+ Přidat...",
                                    addTag: "přidat",

                                    dataPreview: "pcskills",

                                    maxItemRender: 50,
                                    dataUrl: "pcskills"} %}
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Další znalosti uchazeče"}  %}
                <div class="bg-white p-3">
                    <div class="form-group">
                        <label  class="form-label" >Další znalosti</label>
                        {% include "components/autocompleteInput.twig" with 
                                    {type:"tag",
                                    id:"autocomplete6",
                                    name: "Další počitačové znalosti",
                                    inWindow: false, 

                                    placeholder: "+ Strojopis, Mzdové účetnictví...", 
                                    placeholderAdd: "+ Přidat...",
                                    addTag: "přidat",

                                    dataPreview: "otherskills",

                                    maxItemRender: 50,
                                    dataUrl: "otherskills"} %}
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Nabízená mzda *"}  %}
                <div class="bg-white p-3">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="exampleInputName" class="form-label">Mzda od*</label>
                                <input type="text" class="form-control" id="exampleInputName"  value="20000" required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="exampleInputName" class="form-label">Mzda do*</label>
                                <input type="text" class="form-control" id="exampleInputName"  value="40000" required>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="form-label">Měna *</label>
                                <select class="form-control" required data-selectric>
                                    <option value="1">CZK</option>
                                    <option value="2">EUR</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="form-label">Za období *</label>
                                <select class="form-control" required data-selectric>
                                    <option value="1">Měšíc</option>
                                    <option value="2">Týden</option>
                                    <option value="3">Den</option>
                                    <option value="3">Hodina</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label class="checkbox__shadow-label "for="payment"></label>
                            <input class="checkbox__trigger" id="payment" type="checkbox">
                            <label class="checkbox__label" for="payment">
                                Skrýt mzdu v inzerátu
                            </label>
                            <label class="checkbox__substitute" for="payment"> 
                                <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                </svg>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Nabízené benefity" }%}
                <div class="bg-white p-3">
                    <div class="form-group">
                        <label  class="form-label" >Benefity</label>
                        {% include "components/autocompleteInput.twig" with 
                                    {type:"tag",
                                    id:"autocomplete7",
                                    name: "Benefity",
                                    inWindow: false, 

                                    placeholder: "+ Závodní stravování...", 
                                    placeholderAdd: "+ Přidat...",
                                    addTag: "přidat",

                                    dataPreview: "benefits",

                                    maxItemRender: 50,
                                    dataUrl: "benefits"} %}
                    </div>
                </div>
            </div>


            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Kontakt *"}  %}
                <div class="bg-white p-3">
                    <label for="exampleInputName" class="form-label">Kontaktní osoba*</label>
                    <div class="form-group">
                        <select class="form-control" data-selectric data-contact data-email-target="contactEmail" data-phone-target="contactPhone" required>
                            <option value="1" data-email="tombombadyl@email.cz" data-phone="777 100 332" selected>Tom Bombadyl</option>
                            <option value="2" data-email="jamesbond@email.cz" data-phone="777 100 333">James Bond</option>
                            <option value="3" data-email="hulk@email.cz" data-phone="777 100 334">Hulk</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">Kontaktní email  *</label>
                                <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" value="tombombadyl@email.cz" disabled>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contactPhone" class="form-label">Kontaktní telefon  *</label>
                                <input type="texst" class="form-control" id="contactPhone" value="777 100 332" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="checkbox__shadow-label "for="sidlo"></label>
                                    <input class="checkbox__trigger" id="sidlo" type="checkbox">
                                    <label class="checkbox__label" for="sidlo">
                                        Zobrazit v inzerátu sídlo firmy
                                    </label>
                                    <label class="checkbox__substitute" for="sidlo"> 
                                        <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                        <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                        </svg>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="checkbox__shadow-label "for="telefon"></label>
                                    <input class="checkbox__trigger" id="telefon" type="checkbox">
                                    <label class="checkbox__label" for="telefon">
                                        Zobrazit v inzerátu telefon
                                    </label>
                                    <label class="checkbox__substitute" for="telefon"> 
                                        <svg class="checkbox__svg svgicon--absolute" viewBox="0 0 20 20">
                                        <polygon class="svgicon__path" points="8.3,16.4 2.9,11.2 4.9,9.1 8,12.1 14.8,3.6 17.1,5.4"/>
                                        </svg>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Inzerovat v *" }%}
                <div class="bg-white p-3">
                    {% include "components/custom-switch.twig" with {text: "Inzerovat v České republice",muted:"(Actijobs.cz)", checked: true,id: "2"} %}

                    <hr class="mx-minus-3">
                    {% include "components/custom-switch.twig" with {text: "Inzerovat na Slovensku",muted:"(Actijobs.cz)", checked: false,id: "2"} %}
                </div>
            </div>

            <div class="mb-4">
                {% set memberClass = ["Bronze", "Silver", "Gold", "Platinum"] %}
                {% include "components/sectionTitle.twig"  with { title: "Možnost zvýhodnění *"}  %}

                {% for class in memberClass %}
                    <label class="radio-button bg-white {% if not loop.last %} border-b{% endif %} ">
                        <input class="radio-button__trigger" id="class{{ loop.index }}" type="radio" name="classes" value="option{{ loop.index }}" {% if loop.first %} checked{% endif %}>
                        <div class="radio-button__content">
                            <div class="d-md-flex">
                                <div class="text-left">
                                    <div class="radio-button__color font-weight-bold mb-2">
                                        {{class}}
                                    </div>
                                    <ul class="list-group">
                                        {% for i in 0..7 %}
                                            <li>
                                            <faker-lorem-sentence/>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="radio-button__color text-right ml-auto pl-md-5 flex-shrink-0 align-self-center mt-2 mt-md-0">
                                    {% if loop.index > 1 %}
                                        <strong class="display-6">{{ loop.index }} 999 AB</strong>
                                        <p>* 1000 Kč</p>
                                    {% else %}
                                        <strong class="display-6">Zdarma</strong>
                                        <p>v rámci ročního členství</p>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="radio-button__substitute">
                            <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                            <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                            </svg>
                        </div>
                    </label>
                {% endfor %}
                <small class="text-muted d-block  mt-2">* Aperiam autem iste laborum labore ut fuga excepturi quas est.</small>
            </div>


            <div class="row justify-content-center mb-3 mb-sm-5">
                <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
                    <button class="btn btn-secondary w-100">
                        <span class="icon icon-search mr-2"></span>
                        Náhled
                    </button>
                </div>
                <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
                    <button class="btn btn-secondary w-100">
                        <svg class="svgicon svgicon--inline svgicon--textcolor svgicon--small mr-1" viewBox="0 0 20 20" >
                        <polygon class="svgicon__path" points="14.7,10.6 10.5,16.1 10.5,1.6 9.5,1.6 9.5,16.1 5.3,10.6 4.5,11.2 10,18.4 15.5,11.2"/>
                        </svg>
                        Uložit do konceptů
                    </button>
                </div>
                <div class="col-md-4 col-lg-3">
                    <button class="btn btn-success w-100">
                        <svg class="svgicon svgicon--inline svgicon--textcolor mr-2" viewBox="0 0 20 20" >
                        <g class="svgicon__path">
                        <path d="M5.4,7.8c1.2,0,2.2,1,2.2,2.2s-1,2.2-2.2,2.2s-2.2-1-2.2-2.2S4.2,7.8,5.4,7.8 M5.4,6.9c-1.7,0-3.1,1.4-3.1,3.1
                              s1.4,3.1,3.1,3.1s3.1-1.4,3.1-3.1S7.1,6.9,5.4,6.9L5.4,6.9z"/>
                        <path d="M14.6,5.5c2.5,0,4.5,2,4.5,4.5s-2,4.5-4.5,4.5H5.4c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5H14.6 M14.6,4.6H5.4
                              C2.4,4.6,0,7,0,10s2.4,5.4,5.4,5.4h9.1c3,0,5.4-2.4,5.4-5.4S17.6,4.6,14.6,4.6L14.6,4.6z"/>
                        </g>
                        </svg>
                        Inzerovat
                    </button>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
