{% extends "layout/layout-lite.twig" %}
{% block title %}Objednávka služeb{% endblock %}
{% block body %}
    <div class="container">
        <div class="section py-3  mb-5">
            <div class="bg-white p-2 mb-3 text-center text-success">Objednávka služeb</div>
            {% include "components/sectionTitle.twig"  with { title: "Roční členství v klubu ActiJobsu"} %}
            <label class="radio-button bg-white border-b">
                <input class="radio-button__trigger" id="membership1" type="radio" name="membership" value="option1">
                <div class="radio-button__content">
                    <div class="d-md-flex">
                        <div class="text-left">
                            <div class="radio-button__color font-weight-bold">
                                Členství classic
                            </div>
                            <ul class="list-group">
                                {% for i in 0..7 %}
                                    <li>
                                    <faker-lorem-sentence/>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="radio-button__color text-right ml-auto pl-md-5 flex-shrink-0 align-self-center mt-2 mt-md-0">
                            <strong class="display-6">999 Kč</strong>
                        </div>
                    </div>

                </div>
                <div class="radio-button__substitute">
                    <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                    <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                    </svg>
                </div>
            </label>
            <label class="radio-button bg-white">
                <input class="radio-button__trigger" id="membership1" type="radio" name="membership" value="option1">
                <div class="radio-button__content">
                    <div class="d-md-flex">
                        <div class="text-left">
                            <div class="radio-button__color font-weight-bold">
                                Členství VIP
                            </div>
                            <ul class="list-group">
                                {% for i in 0..7 %}
                                    <li>
                                    <faker-lorem-sentence/>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="radio-button__color text-right ml-auto pl-md-5 flex-shrink-0 align-self-center mt-2 mt-md-0">
                            <strong class="display-6">7 999 Kč</strong>
                        </div>
                    </div>

                </div>
                <div class="radio-button__substitute">
                    <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                    <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                    </svg>
                </div>
            </label>
            <div class="d-sm-flex justify-content-between mb-4 mt-2">
                <small class="text-muted d-block ">
                    * <faker-lorem-sentence/>
                </small>
                <a href="{{ linkRegistrationCompany7 }}">Ceník inzerce</a>
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "ActiBony"} %}
                <div class="bg-white p-3 border-b text-center text-info">
                    <faker-lorem-sentence/>
                </div>
                {% for i in 0..5 %}
                    <label class="radio-button bg-white{%if not loop.last%}border-b{%endif%}">
                        <input class="radio-button__trigger" id="actibons{{ loop.index }}" type="radio" name="classes" value="option{{ loop.index }}">
                        <div class="radio-button__content">
                            <div class="d-md-flex radio-button__color">
                                <div class="text-left">
                                    {% if loop.first %}
                                        Žádné Actibony
                                    {% else %}
                                        {{ loop.index }}000 AB
                                    {% endif %}


                                    {% if loop.last %}
                                        <div class="text-info">-45% sleva</div>
                                    {% endif %}
                                </div>

                                <div class="text-right ml-auto pl-md-5 flex-shrink-0 align-self-center mt-2 mt-md-0">
                                    {% if not loop.first %}
                                        <faker-commerce-price/> Kč
                                    {% elseif loop.last %}
                                        <faker-commerce-price/> Kč
                                        <div class="text-muted text-s">
                                            <del>
                                                <faker-commerce-price/>
                                                Kč
                                            </del>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        <div class="radio-button__substitute">
                            <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                            <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                            </svg>
                        </div>
                    </label>
                {% endfor %}
            </div>

            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Souhrn"} %}
                <div class="bg-white p-3 border-b d-md-flex justify-content-between">
                    <strong>Členství Classics</strong>
                    <div class="text-right">
                        <faker-commerce-price/>
                        Kč
                    </div>
                </div>
                <div class="bg-white p-3 border-b d-md-flex justify-content-between">
                    <strong>50 000 ActiBonů</strong>
                    <div class="text-right">
                        <faker-commerce-price/>
                        Kč
                    </div>
                </div>
                <div class="bg-white p-3 border-b d-md-flex justify-content-between">
                    <div>Cena bez DPH</div>
                    <div class="text-right">
                        <faker-commerce-price/>
                        Kč
                    </div>
                </div>
                <div class="bg-white p-3 border-b d-md-flex justify-content-between">
                    <div>DPH 21%</div>
                    <div class="text-right">
                        <faker-commerce-price/>
                        Kč
                    </div>
                </div>
                <div class="bg-white p-3 d-md-flex justify-content-between font-weight-bold text-success">
                    <strong>Cena celkem</strong>
                    <div class="text-right">
                        <faker-commerce-price/>
                        Kč
                    </div>
                </div>
            </div>

            {% set paymentMethods = ["Platební kartou", "Komerční banka (online převod)",  "ČSOB (online převod)",  "FIO (online převod)",  "Česká spořitelna (online převod)"] %}
            <div class="mb-4">
                {% include "components/sectionTitle.twig"  with { title: "Platební metody"} %}
                {% for method in paymentMethods %}
                    <label class="radio-button bg-white {%if not loop.last%}border-b{%endif%}">
                        <input class="radio-button__trigger" id="optradioPay{{ loop.index }}" type="radio" name="optradioPay" value="option{{ loop.index }}">
                        <div class="radio-button__content">
                            <div class="d-md-flex radio-button__color">
                                <div class="text-left">
                                    {{ method }}
                                </div>
                                <div class="text-right ml-auto pl-md-5 flex-shrink-0 align-self-center mt-2 mt-md-0">
                                    ihned
                                </div>
                            </div>

                        </div>
                        <div class="radio-button__substitute">
                            <svg class="radio-button__svg svgicon__circle svgicon--absolute" viewBox="0 0 20 20" >
                            <circle class="svgicon__path" cx="10" cy="10" r="7"/>
                            </svg>
                        </div>
                    </label>
                {% endfor %}
            </div>
            <div class="text-center">
                <a href="{{ linkRegistrationCompany }}" class="btn btn-success btn-bottom">Objednat a zaplatit</a>
            </div>

        </div>
    </div>


{% endblock %}
